footer {
  color: white;
  background-color: #242542;
  width: 100%;
  padding: 3rem 2rem;
  box-sizing: border-box;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}
.footer-info {
  flex: 2;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  img {
    width: 10rem;
  }
}

.footer-info p {
  margin: 0.5rem 0;
}

.footer-credits {
  flex: 1;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  img {
    width: 2rem;
    margin-left: 1rem;
    filter: invert(1);
  }
  li {
    margin-bottom: 0.25rem;
    color: #c1c3d9;
    display: flex;
    justify-content: space-between;
  }
}

.footer-credits p {
  font-weight: 600;
  margin: 0.5rem 0;
}
.footer-credits ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-credits li {
  margin-bottom: 0.25rem;
  color: #c1c3d9;
}
